* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #373339;
    position: sticky;
}

.logo {
    width: 100px;
    height: 50px;
}

.logo img {
    width: 100px;
    height: 50px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f0f0f0;
}

.search-bar {
    position: relative;

}

.search-bar input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    background-color: transparent;
    color: white;
    outline: none;
}

.search-bar input::placeholder {
    color: #ccc;

}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icons a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items:baseline;
    transition: color 0.3s;
}

.icons a:hover {
    color: #f0f0f0;
}

.icons a i {
    margin-right: 5px;
}

.icon_placeholder::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 550;
    content: "\f007";

}

.icons i.fa-user,.icons i.fa-cart-shopping,
.icons i.fas.fa-truck {
    font-size: 20px;
}

.slider{
    overflow:hidden;
    height: 500px;
    position: relative;
    padding: 40px 0px 0px 0px;
}

.slider--inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    transition: all 0.3s ease-in;
    align-items: center;
    filter: blur(2px);
}


.slider--inner img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit:cover;
}


.Featured_section {
    padding: 50px 0px 50px 0px;
}

.Featured_text {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 0px 0px 50px 0px;
}
.Featured_section h1 {
    display: flex;
    width: 35%;
    align-items: center;
    height: 40px;
    text-align: center;
    justify-content: center;
}


.price_box ul{
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}
.price_box img {
    width: 250px;
    height: 300px;
    
}

.price_box ul li {
    border: 2px solid black;
}


 footer{
    background: #373339;
    display: flex;
    align-items: flex-start;
    border: 1px solid blue;
    justify-content: space-around;

}

footer ul {
    justify-content: space-around;



}
footer ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

} 

#CIM {
    font-size: 18px;
    justify-content: space-between;
    text-size-adjust: 22px;
    gap: 15px;
}

#CIM a {
    color: #171515;
    text-decoration: none;

}


#carouselExampleSlidesOnly {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: row;
    padding-top: 40px;
    margin-bottom: 0;
}

.carousel-item img {
    border: none;
    box-shadow: none;
    max-width: 70%;
    object-fit: cover; 
    max-height: 780px; 
    margin: auto; 
}

.carousel-control-prev,
.carousel-control-next {
    background-color: #121212;
    border-color: #000000;
}

.payments_metods img {
    width: 40px;
    height: 40px;
}


