* {
    /* border: black 1px solid; */
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #373339;
    position: sticky;

}


.logo {
    width: 100px;
    height: 50px;
    padding: 0px;
    margin: 0px;
}

.logo img {
    width: 100px;
    height: 50px;
}


nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0px;
    gap: 45px;
    padding: 0px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #BF8F36;


}

.search-bar {
    position: relative;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #f0f0f0;
    background-color: transparent;
    color: white;
    outline: none;
}

.search-bar input::placeholder {
    font-size: smaller;
}

.icons {
    display: flex;
    align-items: center;
    gap: 25px;
}

.icons a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    gap: 10px;
    align-items: baseline;
    transition: color 0.3s;
}

.icons a:hover {
    color: #BF8F36;
}

.icons a i {
    margin-right: 5px;
}

.icon_placeholder::placeholder {
    font-family: "Font Awesome 5 Free";
    font-weight: 550;
    content: "\f007";
}

.icons i.fa-user,
.icons i.fa-cart-shopping,
.icons i.fas.fa-truck {
    font-size: 20px;
}

.container-carousel {
    position: relative;
    width: 100%;
    height: 500px;
    background-color: #e0e0e0;
    overflow: hidden;
}

.carruseles {
    width: 1010%;
    height: 100%;
    display: flex;
}

.slider-section {
    width: calc(100% / 10);
    height: 100%;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 5.5rem;
    background-color: transparent;
    border-radius: 50%;
    padding: 5px;
    font-weight: 600;
    cursor: pointer;
    color: #00000081;
    transform: translate(0, -50%);
    transition: .5s ease;
    user-select: none;
}

.btn-left:hover,
.btn-right:hover {
    background-color: #333333d4;
    color: #fff;
}

.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}

.Featured_section {
    padding: 30px 0px 30px 0px;
}

.Featured_text {
    width: 100%;
    justify-content: center;
    display: flex;
    padding: 80px 0px 80px 0px;
}

.Featured_section h1 {
    display: flex;
    width: 35%;
    align-items: center;
    height: 40px;
    text-align: center;
    justify-content: center;
}

.card a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.card a:hover {
    color: #BF8F36;
    transition: .5s;

}


.price_box ul {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    padding: 0px;
}

.price_box ul li {
    border-radius: 20px 20px 0px 0px;
    border:#373339 1px solid;
}

.information_card {
    padding: 5px;
}

.price_box img {
    width: 250px;
    height: 300px;
    padding: 0px;
    border-radius: 20px 20px 0px 0px;
}



.corazon-vacio:hover {
    color: #ff0000;
}

.corazon-vacio {
    display: inline;
    opacity: 1;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    /* Transición de opacidad y escala */

}

.corazon-lleno {
    color: red;
    cursor: pointer;
    display: none;
    transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
    /* Transición de opacidad y escala */
    opacity: 1;
    transform: scale(0.8);
    /* Hace que el corazón lleno aparezca un poco más pequeño inicialmente */
}

.corazon-lleno:active {
    opacity: 0;
    transform: scale(1);
    /* El corazón lleno se agranda ligeramente */
}

.corazon-vacio {
    opacity: 1;
}



footer{
    background: #373339;
    display: flex;
    align-items: flex-start;
    border: 1px solid blue;
    justify-content: space-around;
    position: static;

}

footer ul {
    justify-content: space-around;



}
footer ul li{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

}

.payments_metods img {
    width: 40px;
    height: 40px;
}

.boxes {
    width: 50px;
    height: 50px;
}

.boxes img {
    width: 50px;
    height: 50px;
}

#tercer-metodo {
    width: 40px;
    height: 20px;
    display: block;
    margin: auto;
}

.payments_metods img {
    width: 40px;
    height: 40px;
}